<div class="color-primary">
	<h4><b><%= t('model_mailer.welcome.personal_id_wallet') %> </b></h4>
</div>
<div class="color-gray">
	<p><%= @wallet.id %></p>
</div>
<hr></hr>
<div class="color-primary">
	<h4><b><%= t('model_mailer.welcome.message') %> </b></h4>
</div>
<div class="color-primary">
	<h4><b><%= t('model_mailer.welcome.user') %></b></h4>
</div> 
<div class="color-gray">
	<p><%= @clinic.email %> </p>
</div>
<div class="color-primary">
	<h4><b><%= t('model_mailer.welcome.password') %> </b></h4>
</div>
<div class="color-gray">
	<p><%= @password %></p>
</div>
